<h1>Search <%=@search_form.q%></h1>

<div class="list-group">
  <%- @posts.each do |post| %>
    <a href="/posts/<%=post.id%>" class="list-group-item">
      <h4 class="list-group-item-heading"><%=post.title%></h4>
      <p class="list-group-item-text"><%= post.content_html %></p>
    </a>
  <%- end %>
</div>
